<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layoutBase('Cuenta', 'Perfil', ~{::contenido}, ~{::scripts})">
<th:block th:fragment="contenido">
    <div class="row">
        <div class="col-md-8">
            <!-- Formulario para actualizar perfil -->
            <form th:action="@{/cuenta/actualizar-perfil}" th:object="${perfilDTO}" method="post" novalidate>
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0">Editar perfil</h5>
                            <button type="submit" class="btn btn-primary btn-sm ms-auto">Actualizar perfil</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nombre(s)</label>
                                    <input class="form-control" type="text" th:field="*{nombre}" readonly disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Apellido(s)</label>
                                    <input class="form-control" type="text" th:field="*{apellido}" readonly disabled>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="form-group">
                                    <label for="correo" class="form-label">Correo electrónico</label>
                                    <input type="email" th:field="*{correo}" class="form-control"
                                           th:classappend="${#fields.hasErrors('correo')} ? 'is-invalid'"
                                           placeholder="correo@ejemplo.com" required/>
                                    <div class="invalid-feedback">
										<span th:if="${#fields.hasErrors('correo')}"
                                              th:text="${#fields.errors('correo')[0]}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Formulario para cambiar contraseña -->
            <form th:action="@{/cuenta/actualizar-contrasena}" th:object="${contrasenaDTO}" method="post" novalidate>
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0">Cambiar contraseña</h5>
                            <button type="submit" class="btn btn-secondary btn-sm ms-auto">Actualizar contraseña
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Contraseña actual -->
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label for="contrasenaActual" class="form-label">Contraseña actual</label>
                                    <input type="password" th:field="*{contrasenaActual}" class="form-control"
                                           th:classappend="${#fields.hasErrors('contrasenaActual')} ? ' is-invalid'"
                                           placeholder="Contraseña actual" required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasenaActual')}">
                                        <span th:text="${#fields.errors('contrasenaActual')[0]}"></span>
                                    </div>
                                    <div class="form-check form-check-sm mt-1">
                                        <input class="form-check-input" type="checkbox"
                                               style="transform: scale(0.8);"
                                               onclick="togglePassword(this, 'contrasenaActual')"
                                               id="toggle-contrasena-actual">
                                        <label class="form-label" for="toggle-contrasena-actual">Mostrar contraseña</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Nueva contraseña -->
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label for="nuevaContrasena" class="form-label">Nueva contraseña</label>
                                    <input type="password" th:field="*{nuevaContrasena}" class="form-control"
                                           th:classappend="${#fields.hasErrors('nuevaContrasena')} ? ' is-invalid'"
                                           placeholder="Nueva contraseña" required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nuevaContrasena')}">
                                        <span th:text="${#fields.errors('nuevaContrasena')[0]}"></span>
                                    </div>
                                    <div class="form-check form-check-sm mt-1">
                                        <input class="form-check-input" type="checkbox"
                                               style="transform: scale(0.8);"
                                               onclick="togglePassword(this, 'nuevaContrasena')"
                                               id="toggle-nueva-contrasena">
                                        <label class="form-label" for="toggle-nueva-contrasena">Mostrar contraseña</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Confirmar nueva contraseña -->
                            <div class="col-md-4 mt-3">
                                <div class="form-group">
                                    <label for="confirmarNueva" class="form-label">Confirmar nueva contraseña</label>
                                    <input type="password" th:field="*{confirmarNueva}" class="form-control"
                                           th:classappend="${#fields.hasErrors('confirmarNueva')} ? ' is-invalid'"
                                           placeholder="Confirmar nueva contraseña" required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmarNueva')}">
                                        <span th:text="${#fields.errors('confirmarNueva')[0]}"></span>
                                    </div>
                                    <div class="form-check form-check-sm mt-1">
                                        <input class="form-check-input" type="checkbox"
                                               style="transform: scale(0.8);"
                                               onclick="togglePassword(this, 'confirmarNueva')"
                                               id="toggle-confirmar-nueva">
                                        <label class="form-label" for="toggle-confirmar-nueva">Mostrar contraseña</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Perfil lateral -->
        <div class="col-md-4">
            <div class="card card-profile">
                <img src="/assets/img/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-4 col-lg-4 order-lg-2">
                        <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0 text-center">
                            <i class="fas fa-user-circle fa-7x border border-white bg-body rounded-circle p-1"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="text-center mt-4">
                        <h5 th:text="${perfilDTO.nombre} + ' ' + ${perfilDTO.apellido}"></h5>
                        <div class="h6 font-weight-300" th:text="${perfilDTO.correo}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="scripts">
    <script>
        function togglePassword(checkbox, fieldName) {
            const input = document.querySelector(`input[name='${fieldName}']`);
            if (input) {
                input.type = checkbox.checked ? 'text' : 'password';
            }
        }
    </script>
</th:block>
</html>