<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layoutBase('Promociones', 'Editar', ~{::contenido})">
<th:block th:fragment="contenido">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">
            <i class="fa-solid fa-gift me-1"></i>
            Editar promoción
        </h5>
        <form th:action="@{/promociones/guardar}" method="post" th:object="${promocion}">
            <input type="hidden" th:field="*{idPromocion}"/>

            <div class="mb-3">
                <label for="descripcion" class="form-label">
                    Descripción
                    <span class="text-danger">*</span>
                </label>
                <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Ingrese una descripción de la promoción"  required />
            </div>

            <div class="d-flex justify-content-end">
                <a href="/promociones" class="btn btn-secondary me-1 mb-0">
                    <i class="fas fa-times me-1"></i>
                    Cancelar
                </a>

                <button type="submit" class="btn btn-primary mb-0">
                    <i class="fas fa-save me-1"></i>
                    Actualizar
                </button>
            </div>
        </form>
    </div>
</th:block>
</html>