<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="fragments/layout :: layoutBase('Usuarios', 'Editar', ~{::contenido}, ~{::scripts})">

<th:block th:fragment="contenido">

    <div class="card shadow-sm p-4">
        <h5 class="mb-4">
            <i class="fa-solid fa-pen me-1"></i>
            Editar usuario
        </h5>

        <form th:action="@{/usuarios/guardar}" method="post" th:object="${user}" novalidate>
            <div class="row">
                <!-- Codigo (oculto y deshabilitado) -->
                <input type="hidden" th:field="*{id}" />
                <div class="col-md-6 mb-3">
                    <label for="idVisible" class="form-label">
                        Código
                    </label>
                    <input type="number" th:value="*{id}" class="form-control" id="idVisible" disabled />
                </div>

                <!-- Nombre(s) -->
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">
                        Nombre(s)
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" th:field="*{firstName}" class="form-control"
                        th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"
                        placeholder="Ingrese un(os) nombre(s)" required />
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('firstName')}"
                            th:text="${#fields.errors('firstName')[0]}"></span>
                    </div>
                </div>

                <!-- Apellido(s) -->
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">
                        Apellido(s)
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" th:field="*{lastName}" class="form-control"
                        th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"
                        placeholder="Ingrese un(os) apellido(s)" required />
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('lastName')}"
                            th:text="${#fields.errors('lastName')[0]}"></span>
                    </div>
                </div>

                <!-- Correo -->
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">
                        Correo electrónico
                        <span class="text-danger">*</span>
                    </label>
                    <input type="email" th:field="*{email}" class="form-control"
                        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" placeholder="correo@ejemplo.com"
                        required />
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></span>
                    </div>
                </div>

                <!-- Rol -->
                <div class="col-md-6 mb-3">
                    <label for="role" class="form-label">
                        Rol
                        <span class="text-danger">*</span>
                    </label>
                    <select th:field="*{role}" class="form-select"
                        th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'">
                        <option th:each="r : ${roles}" th:value="${r.id}"
                            th:text="${r.description}"
                            th:selected="${user.role != null and r.id == user.role.id}">
                        </option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="password" value="mock" />
            <input type="hidden" th:field="*{isActive}" />

            <!-- Botones -->
            <div class="col-12 d-flex justify-content-end mt-2">
                <a th:href="@{/usuarios}" class="btn btn-secondary me-1 mb-0">
                    <i class="fas fa-times me-1"></i>
                    Cancelar
                </a>

                <button type="submit" class="btn btn-primary mb-0">
                    <i class="fas fa-save me-1"></i>
                    Actualizar
                </button>
            </div>
        </form>
    </div>
</th:block>

<th:block th:fragment="scripts">
    <script>
        document.querySelectorAll('input').forEach(input => {
            input.addEventListener('input', () => {
                input.classList.remove('is-invalid');
            });
        });

        document.querySelectorAll('select').forEach(select => {
            select.addEventListener('change', () => {
                select.classList.remove('is-invalid');
            });
        });
    </script>
</th:block>

</html>