<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="fragments/layout :: layoutBase('Usuarios', 'Nuevo', ~{::contenido}, ~{::scripts})">

<th:block th:fragment="contenido">

    <div class="card shadow-sm p-4">
        <h5 class="mb-4">
            <i class="fa-solid fa-plus me-1"></i>
            Nuevo usuario
        </h5>

        <form th:action="@{/usuarios/registrar}" method="post" th:object="${user}" novalidate>
            <div class="row">
                <!-- Nombre(s) -->
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">
                        Nombre(s)
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" th:field="*{firstName}" class="form-control"
                        th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"
                        placeholder="Ingrese un(os) nombre(s)" required />
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('firstName')}"
                            th:text="${#fields.errors('firstName')[0]}"></span>
                    </div>
                </div>

                <!-- Apellido(s) -->
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">
                        Apellido(s)
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" th:field="*{lastName}" class="form-control"
                        th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"
                        placeholder="Ingrese un(os) apellido(s)" required />
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('lastName')}"
                            th:text="${#fields.errors('lastName')[0]}"></span>
                    </div>
                </div>

                <!-- Correo -->
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">
                        Correo electrónico
                        <span class="text-danger">*</span>
                    </label>
                    <input type="email" th:field="*{email}" class="form-control"
                        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" placeholder="correo@ejemplo.com"
                        required />
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></span>
                    </div>
                </div>

                <!-- Rol -->
                <div class="col-md-6 mb-3">
                    <label for="role" class="form-label">
                        Rol
                        <span class="text-danger">*</span>
                    </label>
                    <select th:field="*{role}" class="form-select"
                        th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'">
                        <option value="">Seleccione un rol</option>
                        <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.description}">
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:if="${#fields.hasErrors('role')}" th:text="${#fields.errors('role')[0]}"></span>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="password" class="form-label">
                            Contraseña
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" th:field="*{password}" class="form-control"
                            th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                            placeholder="Ingrese una contraseña" required />
                        <div class="invalid-feedback">
                            <span th:if="${#fields.hasErrors('password')}"
                                th:text="${#fields.errors('password')[0]}"></span>
                        </div>
                        <div class="form-check form-check-sm mt-1">
                            <input class="form-check-input" type="checkbox" style="transform: scale(0.8);"
                                onclick="togglePassword(this, 'password')" id="toggle-password">
                            <label class="form-label" for="toggle-password">Mostrar contraseña</label>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" th:field="*{isActive}" />

            <!-- Botones -->
            <div class="d-flex justify-content-end">
                <a th:href="@{/usuarios}" class="btn btn-secondary me-1 mb-0">
                    <i class="fas fa-times me-1"></i>
                    Cancelar
                </a>

                <button type="submit" class="btn btn-primary mb-0">
                    <i class="fas fa-plus me-1"></i>
                    Registrar
                </button>
            </div>
        </form>
    </div>
</th:block>

<th:block th:fragment="scripts">
    <script>
        document.querySelectorAll('input').forEach(input => {
            input.addEventListener('input', () => {
                input.classList.remove('is-invalid');
            });
        });

        document.querySelectorAll('select').forEach(select => {
            select.addEventListener('change', () => {
                select.classList.remove('is-invalid');
            });
        });

        function togglePassword(checkbox, fieldName) {
            const input = document.querySelector(`input[name='${fieldName}']`);
            if (input) {
                input.type = checkbox.checked ? 'text' : 'password';
            }
        }
    </script>
</th:block>

</html>