<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layoutBase('registros', 'Nuevo', ~{::contenido})}">
<th:block th:fragment="contenido">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">
            <i class="fa-solid fa-id-card me-1"></i>
            Registro de VentaRUC10
        </h5>

        <form method="post" th:object="${ruc10DTOActualizar}" th:action="@{/registros/save}">
            <!-- Paso 1: Datos de los trabajadores -->
            <div class="mb-3">
                <label for="idRegistro" class="form-label">ID REGISTRO <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="idRegistro" name="idRegistro" required th:field="*{idRegistro}" readonly/>
            </div>
                <h6 class="mb-3">Datos de los trabajadores</h6>
                <div class="mb-3">
                    <label for="idUsuarioSupervisor" class="form-label">Supervisor <span class="text-danger">*</span></label>
                    <select class="form-select" id="idUsuarioSupervisor" name="idUsuarioSupervisor" required th:field="*{idUsuarioSupervisor}">
                        <option th:value="-1" disabled selected>Seleccionar</option>
                        <option th:each="x : ${Supervisor}" th:value="${x.idUsuario}" th:text="${x.nombre + ' ' + x.apellido}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="consultorNombre" class="form-label">Consultor <span class="text-danger">*</span></label>
                    <select class="form-select" id="consultorNombre" name="idUsuarioConsulto" required th:field="*{idUsuarioConsulto}">
                        <option th:value="-1" disabled selected>Seleccionar</option>
                        <option th:each="x : ${Consultor}" th:value="${x.idUsuario}" th:text="${x.nombre + ' ' + x.apellido}"></option>
                    </select>
                </div>
<!--&lt;!&ndash;                <div class="d-flex justify-content-end">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-primary next-step mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;                        Siguiente <i class="fas fa-arrow-right ms-1"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&#45;&#45; >-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

            <!-- Paso 2: Datos del cliente -->
                <h6 class="mb-3">Datos del cliente</h6>
                <div class="mb-3">
                    <label for="DniCliente" class="form-label">DNI <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="DniCliente" name="dniCliente" required th:field="*{dniCliente}"/>
                </div>
                <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Nombre" name="nombreCliente" required th:field="*{nombreCliente}" />
                </div>
                <div class="mb-3">
                    <label for="Apellido" class="form-label">Apellido <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Apellido" name="apellidoCliente" required th:field="*{apellidoCliente}"/>
                </div>
                <div class="mb-3">
                    <label for="Telefono" class="form-label">Teléfono <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Telefono" name="telefonoCliente" required th:field="*{telefonoCliente}"/>
                </div>
                <div class="mb-3">
                    <label for="ruc" class="form-label">RUC <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="ruc" name="rucCliente" th:field="*{rucCliente}" required minlength="11" maxlength="11" pattern="\d{11}" title="Ingrese 11 dígitos numéricos" />
                </div>
<!--                <div class="d-flex justify-content-end">-->
<!--                    <button type="button" class="btn btn-secondary prev-step me-1 mb-0">-->
<!--                        <i class="fas fa-arrow-left me-1"></i> Anterior-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-primary next-step mb-0">-->
<!--                        Siguiente <i class="fas fa-arrow-right ms-1"></i>-->
<!--                    </button>-->
<!--                </div>-->

            <!-- Paso 3: Representante legal -->
                <h6 class="mb-3">Representante legal</h6>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="repNombre" class="form-label">Nombre Contacto <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="repNombre" required name="nombreContacto" th:field="*{nombreContacto}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="repDNI" class="form-label">DNI <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="repDNI" th:field="*{dniContacto}" name="dniContacto" required minlength="8" maxlength="8" pattern="\d{8}" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repCorreo" class="form-label">Correo <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="repCorreo" th:field="*{correoContacto}" name="correoContacto" placeholder="correo@ejemplo.com" required />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repTelefono" class="form-label">Teléfono <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="repTelefono" th:field="*{telefonoContacto}" name="telefonoContacto" required minlength="9" maxlength="9" pattern="\d{9}" />
                    </div>
                </div>
<!--                <div class="d-flex justify-content-end">-->
<!--                    <button type="button" class="btn btn-secondary prev-step me-1 mb-0">-->
<!--                        <i class="fas fa-arrow-left me-1"></i> Anterior-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-primary next-step mb-0">-->
<!--                        Siguiente <i class="fas fa-arrow-right ms-1"></i>-->
<!--                    </button>-->
<!--                </div>-->

            <!-- Paso 4: Contacto autorizado -->
                <h6 class="mb-3">Contacto autorizado</h6>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="contactoNombre" class="form-label">Nombre Completo <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" th:field="*{nombreContactoSec}" name="nombreContactoSec" id="contactoNombre" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="contactoDNI" class="form-label">DNI <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" th:field="*{dniContactoSec}" name="dniContactoSec" id="contactoDNI" required minlength="8" maxlength="8" pattern="\d{8}" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="contactoCorreo" class="form-label">Correo <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" th:field="*{correoContactoSec}" name="correoContactoSec" id="contactoCorreo" required />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="contactoTelefono" class="form-label">Teléfono <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" th:field="*{telefonoContactoSec}" name="telefonoContactoSec" id="contactoTelefono" required minlength="9" maxlength="9" pattern="\d{9}" />
                    </div>
                </div>
<!--                <div class="d-flex justify-content-end">-->
<!--                    <button type="button" class="btn btn-secondary prev-step me-1 mb-0">-->
<!--                        <i class="fas fa-arrow-left me-1"></i> Anterior-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-primary next-step mb-0">-->
<!--                        Siguiente <i class="fas fa-arrow-right ms-1"></i>-->
<!--                    </button>-->
<!--                </div>-->

            <!-- Paso 5: Servicio contratado -->
                <h6 class="mb-3">Servicio contratado</h6>
                <div class="mb-3">
                    <label for="planServicio" class="form-label">Plan <span class="text-danger">*</span></label>
                    <select class="form-select" id="planServicio" required th:field="*{idPlan}" name="idPlan" >
                        <option th:value="-1" selected disabled >Seleccionar</option>
                        <option th:each="x : ${plam}" th:value="${x.idPlan}" th:text="${x.descripcion}" name="descripcion"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="promocionServicio" class="form-label">Promoción</label>
                    <select class="form-select" id="promocionServicio" th:field="*{idPromocion}" name="idPromocion" >
                        <option th:value="-1" disabled selected>Seleccionar</option>
                        <option th:each="x : ${promocion}" th:value="${x.idPromocion}" th:text="${x.descripcion}"></option>
                    </select>
                </div>
<!--                <div class="d-flex justify-content-end">-->
<!--                    <button type="button" class="btn btn-secondary prev-step me-1 mb-0">-->
<!--                        <i class="fas fa-arrow-left me-1"></i> Anterior-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-primary next-step mb-0">-->
<!--                        Siguiente <i class="fas fa-arrow-right ms-1"></i>-->
<!--                    </button>-->
<!--                </div>-->

            <!-- Paso 6: Cronograma -->
                <h6 class="mb-3">Cronograma</h6>
                <div class="row">
<!--                    &lt;!&ndash; Ubicación: Departamento, Provincia, Distrito, Sector &ndash;&gt;-->
<!--                    <div class="col-md-6 mb-3">-->
<!--                        &lt;!&ndash; Departamento &ndash;&gt;-->
<!--                        <label for="departamento" class="form-label">Departamento <span class="text-danger">*</span></label>-->
<!--                        <select class="form-select" id="departamento" name="departamento" th:field="*{departamento}" required>-->
<!--                            <option value="-1" disabled selected>Seleccionar</option>-->
<!--                            <option value="Lima">Lima</option>-->
<!--                            <option value="Cusco">Cusco</option>-->
<!--                            <option value="Arequipa">Arequipa</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="col-md-6 mb-3">-->
<!--                        &lt;!&ndash; Provincia &ndash;&gt;-->
<!--                        <label for="provincia" class="form-label">Provincia <span class="text-danger">*</span></label>-->
<!--                        <select class="form-select" id="provincia" name="provincia" th:field="*{provincia}" required>-->
<!--                            <option value="-1" disabled selected>Seleccionar</option>-->
<!--                            <option value="Lima">Lima</option>-->
<!--                            <option value="Urubamba">Urubamba</option>-->
<!--                            <option value="Caylloma">Caylloma</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="col-md-6 mb-3">-->
<!--                        &lt;!&ndash; Distrito &ndash;&gt;-->
<!--                        <label for="distrito" class="form-label">Distrito <span class="text-danger">*</span></label>-->
<!--                        <select class="form-select" id="distrito" name="nombreDistrito" th:field="*{nombreDistrito}" required>-->
<!--                            <option th:value="-1" disabled selected>Seleccionar</option>-->
<!--                            <option th:each="x : ${distrito}" th:value="${x.nombreDistrito}" th:text="${x.nombreDistrito}"></option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="col-md-6 mb-3">-->
<!--                        &lt;!&ndash; Sector &ndash;&gt;-->
<!--                        <label for="sector" class="form-label">Sector <span class="text-danger">*</span></label>-->
<!--                        <select class="form-select" id="sector" name="nombreSector" th:field="*{nombreSector}" required>-->
<!--                            <option th:value="-1" disabled selected>Seleccionar</option>-->
<!--                            <option th:each="x : ${sector}" th:value="${x.idSector}" th:text="${x.nombreSector}"></option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Dirección: Referencia, N°, Interior o Departamento &ndash;&gt;-->
<!--                    <div class="col-md-6 mb-3">-->
<!--                        <label for="referencia" class="form-label">Referencia <span class="text-danger">*</span></label>-->
<!--                        <input type="text" class="form-control" id="referencia" name="referencia" th:field="*{referencia}" required />-->
<!--                    </div>-->

<!--                    <div class="col-md-3 mb-3">-->
<!--                        <label for="numero" class="form-label">N° <span class="text-danger">*</span></label>-->
<!--                        <input type="text" class="form-control" id="numero" name="numero" th:field="*{numero}" required />-->
<!--                    </div>-->

<!--                    <div class="col-md-3 mb-3">-->
<!--                        <label for="interior" class="form-label">Interior o Departamento <span class="text-danger">*</span></label>-->
<!--                        <input type="text" class="form-control" id="interior" name="interior" th:field="*{interior}" required />-->
<!--                    </div>-->

                    <div class="col-md-3 mb-3">
                        <label for="lugarInstalacion" class="form-label">Lugar Instalacion <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="lugarInstalacion" name="interior" th:field="*{lugarInstalacion}" required />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="fechaInstalacion" class="form-label">Fecha Instalación <span class="text-danger">*</span></label>
                        <input type="date"
                               class="form-control"
                               id="fechaInstalacion"
                               name="fechaInstalacion"
                               th:field="*{fechaInstalacion}"
                               required />
<!--                        <p th:text="*{fechaInstalacion}">No llega</p>-->

                    </div>

                    <!-- Rango Horario -->
                    <div class="col-md-6 mb-3">
                        <label for="rangoHorario" class="form-label">Rango horario <span class="text-danger">*</span></label>
                        <select class="form-select" id="rangoHorario" name="rangoInstalacion" th:field="*{rangoInstalacion}" required>
                            <option value="">--SELECCIONA--</option>
                            <option value="manana">09:00 a 13:00 hr</option>
                            <option value="tarde">13:00 a 18:00 hr</option>
                        </select>
                    </div>

                    <!-- Observaciones -->
                    <div class="col-md-6 mb-3">
                        <label for="observacion" class="form-label">Observaciones <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="observacion" name="observacion" th:field="*{observacion}" required />
                    </div>
                </div>

                <!-- Botones -->
<!--                    <button type="button" class="btn btn-secondary prev-step me-1 mb-0">-->
<!--                        <i class="fas fa-arrow-left me-1"></i> Anterior-->
<!--                    </button>-->
                    <button type="submit" class="btn btn-success mb-0">
                        <i class="fas fa-check me-1"></i> Actualizar
                    </button>
        </form>


    </div>

    <script>
        const steps = document.querySelectorAll(".form-step");
        let currentStep = 0;

        document.querySelectorAll(".next-step").forEach((btn) => {
            btn.addEventListener("click", () => {
                if (validarPaso(currentStep)) {
                    steps[currentStep].classList.remove("active");
                    currentStep++;
                    steps[currentStep].classList.add("active");
                }
            });
        });

        document.querySelectorAll(".prev-step").forEach((btn) => {
            btn.addEventListener("click", () => {
                steps[currentStep].classList.remove("active");
                currentStep--;
                steps[currentStep].classList.add("active");
            });
        });

<!--        document.getElementById("multiStepForm").addEventListener("submit", function (e) {-->
<!--&lt;!&ndash;            e.preventDefault();&ndash;&gt;-->
<!--            alert("Formulario enviado correctamente 🎉");-->
<!--            this.reset();-->
<!--            steps[currentStep].classList.remove("active");-->
<!--            currentStep = 0;-->
<!--            steps[currentStep].classList.add("active");-->
<!--        });-->

        function validarPaso(paso) {
            const inputs = steps[paso].querySelectorAll("input, select, textarea");
            for (let input of inputs) {
                if (!input.checkValidity()) {
                    input.classList.add("is-invalid");
                    return false;
                } else {
                    input.classList.remove("is-invalid");
                }
            }
            return true;
        }
    </script>
</th:block>
<div th:if="${alert}">
<div th:utext="${alert}"></div>
</div>
</html>
