<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/layout :: layoutBase('Planes', 'Nuevo', ~{::contenido}, ~{::scripts})">

<th:block th:fragment="contenido">
	<div class="card shadow-sm p-4">
		<h5 class="mb-4">
			<i class="fa-solid fa-plus me-1"></i>
			Nuevo plan
		</h5>

		<form th:action="@{/planes/registrar}" method="post" th:object="${plan}" novalidate>
			<div class="row">
				<div class="col-md-12 mb-3">
					<label for="description" class="form-label">
						Descripción
						<span class="text-danger">*</span>
					</label>
					<input type="text" th:field="*{description}" class="form-control"
						th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
						placeholder="Ej. 300 Mbps. Fibra Optica" required />
					<div class="invalid-feedback">
						<span th:if="${#fields.hasErrors('description')}"
							th:text="${#fields.errors('description')[0]}"></span>
					</div>
				</div>
			</div>

			<input type="hidden" th:field="*{isActive}" />

			<!-- Botones -->
			<div class="d-flex justify-content-end">
				<a th:href="@{/planes}" class="btn btn-secondary me-1 mb-0">
					<i class="fas fa-times me-1"></i>
					Cancelar
				</a>

				<button type="submit" class="btn btn-primary mb-0">
					<i class="fas fa-plus me-1"></i>
					Registrar
				</button>
			</div>
		</form>
	</div>
</th:block>

<th:block th:fragment="scripts">
	<script>
		document.querySelectorAll('input').forEach(input => {
			input.addEventListener('input', () => {
				input.classList.remove('is-invalid');
			});
		});

		document.querySelectorAll('select').forEach(select => {
			select.addEventListener('change', () => {
				select.classList.remove('is-invalid');
			});
		});
	</script>
</th:block>

</html>