<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layoutBase('Clientes', 'Editar', ~{::contenido})">
<th:block th:fragment="contenido">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">
            <i class="fa-solid fa-pen me-1"></i>
            Editar cliente
        </h5>
        <form th:action="@{/clientes/guardar}" method="post" th:object="${cliente}">
            <input type="hidden" th:field="*{dniCliente}"/>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="dniClienteVisible" class="form-label">
                        DNI
                    </label>
                    <input type="number" th:value="*{dniCliente}" class="form-control" id="dniClienteVisible" disabled />
                </div>

                <div class="col-md-6 mb-3">
                    <label for="ruc" class="form-label">
                        RUC
                        <span class="text-danger">*</span>
                    </label>
                    <input type="number" th:field="*{ruc}" class="form-control" placeholder="Ingrese un RUC" required />
                </div>

                <div class="col-md-6 mb-3">
                    <label for="nombre" class="form-label">
                        Nombre(s)
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" th:field="*{nombre}" class="form-control" placeholder="Ingrese un(os) nombre(s)" required />
                </div>

                <div class="col-md-6 mb-3">
                    <label for="apellido" class="form-label">
                        Apellido(s)
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" th:field="*{apellido}" class="form-control" placeholder="Ingrese un(os) apellido(s)" required />
                </div>

                <div class="col-md-6 mb-3">
                    <label for="apellido" class="form-label">
                        Teléfono
                        <span class="text-danger">*</span>
                    </label>
                    <input type="number" th:field="*{telefono}" class="form-control" placeholder="Ingrese un teléfono" required />
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a href="/clientes" class="btn btn-secondary me-1 mb-0">
                    <i class="fas fa-times me-1"></i>
                    Cancelar
                </a>

                <button type="submit" class="btn btn-primary mb-0">
                    <i class="fas fa-save me-1"></i>
                    Actualizar
                </button>
            </div>
        </form>
    </div>
</th:block>
</html>